USE [master]
GO
/****** Object:  Database [user102]    Script Date: 19.01.2026 13:15:28 ******/
CREATE DATABASE [user102]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user102', FILENAME = N'/var/opt/mssql/data/user102.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user102_log', FILENAME = N'/var/opt/mssql/data/user102_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user102].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user102]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[product_id] [varchar](50) NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[payment_method_id] [int] NOT NULL,
 CONSTRAINT [PK_sales$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SalesToChart]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SalesToChart]
AS
SELECT        CAST(timestamp AS Date) AS Date, SUM(total_price) AS total_price, COUNT(*) AS sales_count
FROM            dbo.sales
GROUP BY CAST(timestamp AS date)
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[id] [int] NOT NULL,
	[company] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[critical_threshold_template]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[critical_threshold_template](
	[id] [int] NOT NULL,
	[template] [varchar](15) NOT NULL,
 CONSTRAINT [PK_critical_threshold_template] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issues_found]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issues_found](
	[id] [int] NOT NULL,
	[issue_found] [nvarchar](max) NULL,
 CONSTRAINT [PK_issues_found] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[issues_found] [int] NULL,
	[vending_machine_id] [varchar](50) NULL,
	[user_id] [varchar](50) NULL,
	[work_description] [int] NOT NULL,
 CONSTRAINT [PK_maintenance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[models]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[models](
	[id] [int] NOT NULL,
	[model] [varchar](50) NULL,
 CONSTRAINT [PK_models] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_templates]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_templates](
	[id] [int] NOT NULL,
	[template] [varchar](15) NOT NULL,
 CONSTRAINT [PK_notification_templates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operators]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operators](
	[id] [int] NOT NULL,
	[operator] [nvarchar](15) NULL,
 CONSTRAINT [PK_operators] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[id] [int] NULL,
	[payment_method] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [varchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[min_stock] [int] NULL,
	[vending_machine_id] [varchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[quantity_available] [int] NULL,
	[sales_trend] [decimal](10, 2) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_priorities]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_priorities](
	[id] [int] NOT NULL,
	[service_priority] [nvarchar](15) NULL,
 CONSTRAINT [PK_service_priorities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuses]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuses](
	[id] [int] NOT NULL,
	[status] [nvarchar](15) NULL,
 CONSTRAINT [PK_statuses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[full_name] [varchar](50) NOT NULL,
	[is_manager] [bit] NOT NULL,
	[is_engineer] [bit] NOT NULL,
	[is_operator] [bit] NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[role] [varchar](15) NOT NULL,
	[image] [varchar](max) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vending_machines]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vending_machines](
	[id] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[location] [nvarchar](150) NOT NULL,
	[model_id] [int] NOT NULL,
	[coin_acceptor] [bit] NOT NULL,
	[bill_acceptor] [bit] NOT NULL,
	[cashless_payment] [bit] NOT NULL,
	[QR_payment] [bit] NOT NULL,
	[total_income] [decimal](10, 2) NOT NULL,
	[serial_number] [int] NOT NULL,
	[invent_number] [int] NULL,
	[manufacture_date] [datetime] NULL,
	[install_date] [datetime] NOT NULL,
	[system_date] [datetime] NULL,
	[last_maintenance_date] [datetime] NOT NULL,
	[interverification_interval] [int] NULL,
	[VM_resource] [int] NULL,
	[next_maintenance_date]  AS (case when [interverification_interval] IS NOT NULL then dateadd(month,[interverification_interval],[last_maintenance_date])  end),
	[inventory_date] [datetime] NULL,
	[status_id] [int] NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[rfid_cash_collection] [varchar](12) NOT NULL,
	[rfid_loading] [varchar](12) NOT NULL,
	[rfid_service] [varchar](13) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[work_mode_id] [int] NOT NULL,
	[kit_online_id] [varchar](10) NOT NULL,
	[company_id] [int] NOT NULL,
	[critical_treshold_template_id] [int] NULL,
	[service_priority_id] [int] NOT NULL,
	[manager_id] [varchar](50) NOT NULL,
	[engineer_id] [varchar](50) NOT NULL,
	[technician_id] [varchar](50) NOT NULL,
	[notification_template_id] [int] NULL,
	[working_hours] [varchar](15) NOT NULL,
	[place] [nvarchar](50) NOT NULL,
	[operator_id] [int] NOT NULL,
	[coordinates] [varchar](max) NOT NULL,
	[timezone] [varchar](5) NOT NULL,
 CONSTRAINT [PK_vending_machines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_modes]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_modes](
	[id] [int] NOT NULL,
	[work_mode] [varchar](15) NOT NULL,
 CONSTRAINT [PK_work_modes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[works_description]    Script Date: 19.01.2026 13:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[works_description](
	[id] [int] NOT NULL,
	[work_description] [nvarchar](max) NULL,
 CONSTRAINT [PK_works_description] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Companies] ([id], [company]) VALUES (1, N'??? ???????? ????????')
INSERT [dbo].[Companies] ([id], [company]) VALUES (2, N'??? ??? ??????? ?????
')
INSERT [dbo].[Companies] ([id], [company]) VALUES (3, N'??? ????????????? ????')
GO
INSERT [dbo].[critical_threshold_template] ([id], [template]) VALUES (1, N'???????????')
INSERT [dbo].[critical_threshold_template] ([id], [template]) VALUES (2, N'???????????')
GO
INSERT [dbo].[issues_found] ([id], [issue_found]) VALUES (1, N'Зависла сессия оплаты')
INSERT [dbo].[issues_found] ([id], [issue_found]) VALUES (2, N'Проблемы с термобумагой')
INSERT [dbo].[issues_found] ([id], [issue_found]) VALUES (3, N'Не закрывается люк обслуживания')
GO
SET IDENTITY_INSERT [dbo].[maintenance] ON 

INSERT [dbo].[maintenance] ([id], [date], [issues_found], [vending_machine_id], [user_id], [work_description]) VALUES (1, CAST(N'2024-09-13T16:44:00.000' AS DateTime), 1, N'a977e322-192c-4567-9f5f-36f504bfc13d', N'7a051229-40bb-443e-80b8-024cb239f52b', 1)
INSERT [dbo].[maintenance] ([id], [date], [issues_found], [vending_machine_id], [user_id], [work_description]) VALUES (2, CAST(N'2024-05-24T17:35:00.000' AS DateTime), 4, N'53e2ec2e-d407-4e9a-a1d9-5a9501e81ede', N'ec90762d-3e3d-413a-b8c5-b86c93ddb52f', 1)
INSERT [dbo].[maintenance] ([id], [date], [issues_found], [vending_machine_id], [user_id], [work_description]) VALUES (3, CAST(N'2025-01-01T12:19:00.000' AS DateTime), 1, N'4daae871-71ac-44da-8b58-dcf1a2ae907a', N'c59a07db-17d1-4769-9d5c-19c0ab4d435c', 4)
GO
SET IDENTITY_INSERT [dbo].[maintenance] OFF
GO
INSERT [dbo].[models] ([id], [model]) VALUES (1, N'Rheavendors Luce E5')
INSERT [dbo].[models] ([id], [model]) VALUES (2, N'Unicum Rosso')
INSERT [dbo].[models] ([id], [model]) VALUES (3, N'Bianchi BVM 972')
GO
INSERT [dbo].[notification_templates] ([id], [template]) VALUES (1, N'???????????')
INSERT [dbo].[notification_templates] ([id], [template]) VALUES (2, N'???????????')
GO
INSERT [dbo].[operators] ([id], [operator]) VALUES (1, N'Билайн')
INSERT [dbo].[operators] ([id], [operator]) VALUES (2, N'МТС')
INSERT [dbo].[operators] ([id], [operator]) VALUES (3, N'Т2')
GO
INSERT [dbo].[payment_methods] ([id], [payment_method]) VALUES (1, N'Наличные')
INSERT [dbo].[payment_methods] ([id], [payment_method]) VALUES (2, N'Карта')
INSERT [dbo].[payment_methods] ([id], [payment_method]) VALUES (3, N'Qr-код')
GO
INSERT [dbo].[products] ([id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'069d1026-82b5-4365-8481-1b38fe50307c', N'Трюфельный макиато', CAST(105.20 AS Decimal(10, 2)), 7, N'70f22c9f-de0a-41a9-9a53-cabf42688d47', N'Имеет интенсивный вкус с нотками шоколадного трюфеля.', 29, CAST(1.14 AS Decimal(10, 2)))
INSERT [dbo].[products] ([id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'075ac323-7649-44e8-bbff-60cbda965c47', N'Фисташковый мокко', CAST(133.40 AS Decimal(10, 2)), 18, N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', N'Имеет ореховый оттенок с нежной фисташковой ноткой.', 81, CAST(5.55 AS Decimal(10, 2)))
INSERT [dbo].[products] ([id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'121d56e4-dc5b-43c3-8658-d1a00f8cbf76', N'Карамельно-соленый мокко', CAST(45.53 AS Decimal(10, 2)), 8, N'4daae871-71ac-44da-8b58-dcf1a2ae907a', N'Имеет необычный вкус с оттенком морской соли.', 92, CAST(8.15 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[sales] ON 

INSERT [dbo].[sales] ([id], [timestamp], [product_id], [total_price], [quantity], [payment_method_id]) VALUES (1, CAST(N'2024-11-27T14:47:00.000' AS DateTime), N'a90eaff4-e8bd-400f-a4b9-63cc6e0bcb54', CAST(672.55 AS Decimal(10, 2)), 5, 1)
INSERT [dbo].[sales] ([id], [timestamp], [product_id], [total_price], [quantity], [payment_method_id]) VALUES (2, CAST(N'2025-01-13T06:51:00.000' AS DateTime), N'e9aa2886-0ba0-4b7a-96dc-078855f99872', CAST(279.10 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[sales] ([id], [timestamp], [product_id], [total_price], [quantity], [payment_method_id]) VALUES (3, CAST(N'2025-01-16T04:40:00.000' AS DateTime), N'f3dc17fc-f9fe-4beb-93f4-a27a02adb152', CAST(608.55 AS Decimal(10, 2)), 5, 3)
GO
SET IDENTITY_INSERT [dbo].[sales] OFF
GO
INSERT [dbo].[service_priorities] ([id], [service_priority]) VALUES (1, N'Низкий')
INSERT [dbo].[service_priorities] ([id], [service_priority]) VALUES (2, N'Средний')
INSERT [dbo].[service_priorities] ([id], [service_priority]) VALUES (3, N'Высокий')
GO
INSERT [dbo].[statuses] ([id], [status]) VALUES (1, N'Работает')
INSERT [dbo].[statuses] ([id], [status]) VALUES (2, N'Обслуживается')
INSERT [dbo].[statuses] ([id], [status]) VALUES (3, N'Сломан')
GO
INSERT [dbo].[work_modes] ([id], [work_mode]) VALUES (1, N'???????????')
INSERT [dbo].[work_modes] ([id], [work_mode]) VALUES (2, N'????????')
GO
INSERT [dbo].[works_description] ([id], [work_description]) VALUES (1, N'Замена дисплея')
INSERT [dbo].[works_description] ([id], [work_description]) VALUES (2, N'Чистка внутренних узлов')
INSERT [dbo].[works_description] ([id], [work_description]) VALUES (3, N'Ремонт купюроприемника')
GO
/****** Object:  Index [unique_invent_vending_machines]    Script Date: 19.01.2026 13:15:29 ******/
ALTER TABLE [dbo].[vending_machines] ADD  CONSTRAINT [unique_invent_vending_machines] UNIQUE NONCLUSTERED 
(
	[invent_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [unique_serial_vending_machines]    Script Date: 19.01.2026 13:15:29 ******/
ALTER TABLE [dbo].[vending_machines] ADD  CONSTRAINT [unique_serial_vending_machines] UNIQUE NONCLUSTERED 
(
	[serial_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[vending_machines] ADD  CONSTRAINT [DF_vending_machines_system_date]  DEFAULT (getdate()) FOR [system_date]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_issues_found] FOREIGN KEY([issues_found])
REFERENCES [dbo].[issues_found] ([id])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_issues_found]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_users]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([id])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_vending_machines]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_works_description] FOREIGN KEY([work_description])
REFERENCES [dbo].[works_description] ([id])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_works_description]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_vending_machines]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK_sales_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK_sales_products]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_Companies] FOREIGN KEY([company_id])
REFERENCES [dbo].[Companies] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_Companies]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_critical_threshold_template] FOREIGN KEY([critical_treshold_template_id])
REFERENCES [dbo].[critical_threshold_template] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_critical_threshold_template]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_models] FOREIGN KEY([model_id])
REFERENCES [dbo].[models] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_models]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_notification_templates] FOREIGN KEY([notification_template_id])
REFERENCES [dbo].[notification_templates] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_notification_templates]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_operators] FOREIGN KEY([operator_id])
REFERENCES [dbo].[operators] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_operators]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_service_priorities] FOREIGN KEY([service_priority_id])
REFERENCES [dbo].[service_priorities] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_service_priorities]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_statuses] FOREIGN KEY([status_id])
REFERENCES [dbo].[statuses] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_statuses]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_users]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_users1] FOREIGN KEY([manager_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_users1]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_users2] FOREIGN KEY([engineer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_users2]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_users3] FOREIGN KEY([technician_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_users3]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_work_modes] FOREIGN KEY([work_mode_id])
REFERENCES [dbo].[work_modes] ([id])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_work_modes]
GO
ALTER TABLE [dbo].[vending_machines]  WITH NOCHECK ADD  CONSTRAINT [install_date_vending_machines] CHECK  ((([manufacture_date] IS NULL OR [install_date]>[manufacture_date]) AND ([system_date] IS NULL OR [install_date]<[system_date])))
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [install_date_vending_machines]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [inventory_date_vending_machines] CHECK  ((([manufacture_date] IS NULL OR [inventory_date]>[manufacture_date]) AND [inventory_date]<getdate()))
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [inventory_date_vending_machines]
GO
ALTER TABLE [dbo].[vending_machines]  WITH NOCHECK ADD  CONSTRAINT [last_maintenance_date_vending_machines] CHECK  ((([manufacture_date] IS NULL OR [last_maintenance_date]>[manufacture_date]) AND [last_maintenance_date]<getdate()))
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [last_maintenance_date_vending_machines]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [VM_resource_vending_machines] CHECK  (([VM_resource]>(0)))
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [VM_resource_vending_machines]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "sales"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 236
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 3090
         Alias = 3165
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SalesToChart'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SalesToChart'
GO
USE [master]
GO
